

* {
  box-sizing: border-box;
  }

body {
  font-weight: 400;
  position: static;
  background-color: #ffffff;
  font-size: 16px;
  background: linear-gradient(to right, #1c92d2 #1c92d2 0%, #DBDBDB #1c92d2 100%);
  font-family: helvetica;
  }

h2 {
  padding-top: 0;
  margin-top: 0;
	}

h3 {
  margin-top: 0;
  padding-top: 0;
  font-size: 40px;
  color: grey;
  }

.container {
  width: 80%;
}
.jumbotron {
  width: 100%;
  height: 800px;
  background-image: url("../img/images_for_web/banner.jpg");
  background-size: cover;
  background-position: center;
  
}

.my_image {
  
  margin-left:50px;
  border-radius: 40%;
}


.header {
  text-align: center;
  }

  ul.nav.navbar-nav:hover {
    background-color: orange;
  }

  

/** Home page**/
.container h1 {
  color: grey;
  height: inherit;
  width: 100%;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px
  }

.brief {
  margin-left: 15px;
  margin-right: 15px;
  letter-spacing: 2.5px;
  line-height: 30px;
  font-size: 2rem;
  color: #986d76;
}

.row2, .row3, .row4 {
  height: 300px;
  margin-top: 100px;
  margin-bottom: 100px;*/
}
.btn-default {
  background-color: orange;
  position: top;
  }

.glyphicon {
  color: orange;
  font-size: 2.2em;
  }

.glyphicon-envelope, .glyphicon-earphone{
  padding: 10px;
  line-height: 65px;

}

.proj {
  font-size: 34px;
  color: grey;
}

#projects {
  height: 85px;
}
 a.email, .address {
  font-size: 2rem;
  letter-spacing: 2px;
  color: #986d76;
}
.glyphicon:hover {
  color: blue;
  -webkit-transition: color 01s;
  }
.number {
  color: #986d76;
}

/** About page**/

#story {
  margin-left: 15px;
  margin-right: 15px
  }

#video {
  margin-top: 0;
  }
#skill-list{
  font-weight:400;
  color: #986d76;
  list-style: none;
  font-size: 2.5rem;

  }

#skills-list{
  font-weight:400;
  color: #986d76;
  list-style: none;
  font-size: 2rem;
  letter-spacing: 2px;
}


#skills {
  width: 470px; 
  height: 335px; 
  border: 1px solid #986d76; 
  position: relative; 
  background: white;
  text-align: center;
  font-size: 2.5rem;

}

.bikes {
  border-radius: 20%;
}

#bikes {
  margin-top: 40px;
}

.hello {
  margin-top: 100px;
}

div.hello {
  margin-top: 150px;
}

.ecommerce {
  color: #986d76;
  font-size: 1.5rem;
  letter-spacing: 2px;



/** Navigation style**/
}
.navbar-default {
  background-color: hsl(348, 4%, 23%);
  color: orange;
  height: 100px;
  font-size: 30px;
  padding-top: 20px;
  }
.navbar-brand>ul>li>a {
  color: transparent white;
  }

/***contact page ***/

.Contact {
  text-align: left;
  color: transparent white;
  }

#contact {
 /* background-image: url("../img/paykyb.jpg");
/*Add a background image*/
  background-attachment: fixed;
/*Give the background a fixed position does it not scroll when you scroll*/
  background-size: cover;
/*Have the background cover the entire div section*/
  color:  slategray;
/*Change the color of the text on top so it is readable, and adjust the padding as needed.*/
    /**padding:100px;
    padding-top: 30px;
    height: 600px;
    width:100%;**/
  }

#submit {
  margin-bottom: 100px;
  }

.form-control {
	width: 100%;
  }

#message {
  background-color:#e9f8e8;;
  }


/** FAQ page**/

/**.panel-body{
	color:brown black;
	}
**/
#FAQ {
  /*background-image: url("../img/darkwood.jpg");
/*Add a background image*/
  background-attachment: fixed;
/*Give the background a fixed position does it not scroll when you scroll*/
  background-size: cover;
/*Have the background cover the entire div section*/
  color: black brown;
/*Change the color of the text on top so it is readable, and adjust the padding as needed.*/
   /** padding:100px;
    padding-top:10px;
    height: 600px;**/
    /**font-size:1.2em;**/
  text-align: center;
  background-color: #231f1f;

  }

.modal-button {
  float: left;
  padding-bottom: 15px;
  margin-top: 0;
  text-align: right;
  margin-right: 25px;
  }


/*Typography*/

li {
  font-family: Gill Sans,Optima,Calibri, sans-serif;
  }

h2 {
  font-family: lucida grande, candara,calibri,sans-serif;
  }

p {
  font-family: Gill Sans,Optima,Calibri, sans-serif;
  }


/** footer**/
/*footer {
  background-color: hsl(348, 4%, 23%);
}*/

.footer {
  /*float: right;*/
  color: white;
  display: inline-block;
  position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background-color: hsl(348, 4%, 23%);
   
  }

.fb-share-button {
  display: inline-block;
  padding-right: 10px;
  float: left;
  }

.fb-share-button {
  float: right;
  }

#copyright {
  background-color: black;
  width: 100%;
  text-align: center;
  padding:15px;
  }


  .google{
    float:left;
    margin:5px;
  }
Add this styling to your CSS see if it appears then...
/**fb-like span, .fb-like iframe {
width: 100px !important;
height: 100px !important;
}**/



 .btn:hover {
    background-color: orange;
  }

#MyResume{
    width:100%;
    height:400px;
  }
.work-img{
  display:block;
  margin:auto;
  max-width:200px;
  position:relative;
}
.info{
  position:absolute;
  top:15%;
  left:22%;
  color:#fff;
  font-family:Futura;
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:0.5em;
  line-height:1.6;
  display:none;
}
.proj-title{
  font-weight:100;
}

#map{
  width:100%;
  height:200px;
}

.social {
  padding-left: 15px;
  color: lightgrey;
} 

.fa {
  padding-left: 15px;
}

.fa:hover {
  color: orange;
}

.fa-2x {
  float: right;
  padding-left: 15px;
}
